@media (min-width: 1280px) {
  .cover__link {
    display: block;
    height: 740px;
    width: 1184px;
    background-image: url('../../../images/cover-trains.jpg');
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    /*border: 1px solid rgba(255, 155, 4, 0.884);*/
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .cover__link {
    display: block;
    width: 100%;
    height: calc(100vw * 0.625);
    background-image: url('../../../images/cover-trains.jpg');
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    /*border: 1px solid rgba(255, 155, 4, 0.884);*/
  }
}
