.places {
    margin: 0 0 92px calc(50% - 984px / 2);
    width: fit-content;
    /*border: 1px solid white;*/
}

@media (max-width: 1279px) {
    .places {
        margin: 0 0 92px calc(50% - 928px / 2);
    }
}

@media (max-width: 1023px) {
    .places {
        margin: 0 0 90px calc(50% - 720px / 2);
    }
}

@media (max-width: 767px) {
    .places {
        margin: 0 auto 68px;
    }
}

@media (max-width: 425px) {
    .places {
        margin: 0 auto 66px;
    }
}