.navigation__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 18px;
    /*border: 1px solid gold;*/
}

@media (max-width: 767px) {
    .navigation__link {
        display: block;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .navigation__link:last-child {
        margin-bottom: 48px;
    }
}