.navigation__link {
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 18px;
    /*border: 1px solid gold;*/
   
}