@media (min-width: 1279px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    height: 52px;
    margin: 28px auto 56px;
    /*border: 1px solid white;*/
  }
}

@media (min-width: 1023px) and (max-width: 1279px){
  .header {
    display: flex;
    justify-content: space-between;
    width: 928px;
    height: 52px;
    margin: 28px auto 48px;
    /*border: 1px solid white;*/
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 720px;
    height: 52px;
    margin: 28px auto 48px;
    /*border: 1px solid white;*/
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 48px;
    margin: 22px auto 48px;
    /*border: 1px solid white;*/
  }
}

@media (max-width: 425px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 288px;
    height: 42px;
    margin: 16px auto 48px;
    /*border: 1px solid white;*/
  }
}
