.header {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  height: fit-content;
  margin: 28px auto 56px;
  /*border: 1px solid white;*/
}

@media (max-width: 1279px) {
  .header {
    width: 928px;
    margin: 28px auto 48px;
  }
}

@media (max-width: 1023px) {
  .header {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .header {
    width: 400px;
    margin: 22px auto 48px;
  }
}

@media (max-width: 425px) {
  .header {
    width: 288px;
    margin: 16px auto 48px;
  }
}