.place__text {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 0;
  margin-top: 0;
  /*border: 1px solid white;*/
}

@media (max-width: 1023px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .place__text {
    margin-left: calc(50% - 380px / 2);
    max-width: 380px;
  }
}

@media (max-width: 425px) {
  .place__text {
    margin-left: calc(50% - 288px / 2);
    max-width: 288px;
  }
}