.place__url-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*border: 1px solid pink;*/
}

@media (max-width: 767px) {
  .place__url-links {
    display: block;
    margin-left: calc(50% - 380px / 2);
    margin-bottom: 36px;
  }
}

@media (max-width: 425px) {
  .place__url-links {
    margin-left: calc(50% - 288px / 2);
    margin-bottom: 32px;
  }
}