.logo {
  display: inline-block;
  width: 176px;
  height: 52px;
  background-image: url(../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .logo {
    width: 160px;
    height: 47px;
  }
}

@media (max-width: 425px) {
  .logo {
  width: 142px;
  height: 42px;
  }
}