.lead__image {
  display: block;
  width: 984px;
  height: 615px;
  margin: 64px auto 0;
}

@media (max-width: 1279px) {
  .lead__image {
    width: 928px;
    height: 580px;
    margin: 56px auto 0;
  }
}

@media (max-width: 1023px) {
  .lead__image {
    width: 100%;
    height: calc(100vw * 0.625);
  }
}

@media (max-width: 767px) {
  .lead__image {
    margin: 48px auto 0;
  }
}

@media (max-width: 425px) {
  .lead__image {
    margin: 40px auto 0;
  }
}