.intro {
    position: relative;
    width: 690px;
    margin: 92px 0 92px calc(50% - 984px / 2);
    /*order: 1px solid white;*/
  }

@media (max-width: 1279px) {
  .intro {
    margin: 92px 0 92px calc(50% - 928px / 2);
  }
}

@media (max-width: 1023px) {
  .intro {
    width: 720px;
    margin: 88px 0 88px calc(50% - 720px / 2);
  }
}

@media (max-width: 767px) {
  .intro {
    width: 380px;
    margin: 76px 0 76px calc(50% - 380px / 2);
  }
}

@media (max-width: 425px) {
  .intro {
    width: 288px;
    margin: 64px 0 64px calc(50% - 288px / 2);
  }
}
