@media (min-width: 767px) {
  .cover__text {
    display: block;
    position: absolute;
    top:50%;
    left:50%; 
    transform:translate(-50%, -50%);
    width: 560px;
    height: fit-content;
    /*border: 1px solid white;*/
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .cover__text {
    display: block;
    position: absolute;
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%);
    width: 424px;
    height: fit-content;
    /*border: 1px solid white;*/
  }
}

@media (max-width: 425px) {
  .cover__text {
    display: block;
    position: absolute;
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%);
    width: 288px;
    height: fit-content;
    /*border: 1px solid white;*/
  }
}
