.cover {
    width: 1184px;
    min-height: 740px;
    margin: 0 auto 92px;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid pink;*/
}

@media (max-width: 1279px) {
    .cover {
        width: 100%;
        min-height: calc(100vw * .625);
    }
}

@media (max-width: 1023px) {
    .cover {
        margin: 0 auto 88px;
    }
}

@media (max-width: 767px) {
    .cover {
        margin: 0 auto 80px;
    }
}

@media (max-width: 425px) {
    .cover {
        margin: 0 auto 64px;
    }
}
