@media (min-width: 1279px) {
    .cover {
        height: 740px;
        width: 1184px;
        position: relative;
        margin: 0 auto 92px;  
        padding: 0;
        /*border: 1px solid white;*/
    }

    .cover:hover {
        opacity: 80%;
    }
}

@media (min-width: 1023px) and (max-width: 1279px) {
    .cover {
        height: auto;
        width: 100%;
        position: relative;
        margin: 0 auto 92px;  
        padding: 0;
        /*border: 1px solid white;*/
    }

    .cover:hover {
        opacity: 80%;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .cover {
        height: auto;
        width: 100%;
        position: relative;
        margin: 0 auto 88px;  
        padding: 0;
        /*border: 1px solid white;*/
    }

    .cover:hover {
        opacity: 80%;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .cover {
        height: auto;
        width: 100%;
        position: relative;
        margin: 0 auto 80px;  
        padding: 0;
        /*border: 1px solid white;*/
    }

    .cover:hover {
        opacity: 80%;
    }
}

@media (max-width: 425px) {
    .cover {
        height: auto;
        width: 100%;
        position: relative;
        margin: 0 auto 64px;  
        padding: 0;
        /*border: 1px solid white;*/
    }

    .cover:hover {
        opacity: 80%;
    }
}
