@media (min-width: 1280px) {
  .cover__image {
    height: 740px;
    width: 1184px;
    opacity: .7;
    /*border: 1px solid rgba(255, 155, 4, 0.884);*/
  }
}

@media (max-width: 1280px) {
  .cover__image {
      width: 100%;
      height: auto;
      opacity: .7;
      /*border: 1px solid rgba(255, 155, 4, 0.884);*/
    }
}
