.language {
  display: inline-block;
  margin: auto 0 6px auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

@media (max-width: 767px) {
  .language {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 425px) {
  .language {
    font-size: 18px;
    line-height: 20px;
  }
}
