.cover__title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  text-align: center;
  /*border: 1px solid white;*/
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 42px;
    line-height: 45px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}