.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px calc(50% - 1184px / 2);
    width: 1184px;
    height: fit-content;
    overflow: hidden;
    /*border: 1px solid white;*/
}

@media (max-width: 1279px) {
    .footer {
        margin: 0 0 24px calc(50% - 928px / 2);
        width: 928px;
    }
}

@media (max-width: 1023px) {
    .footer {
        margin: 0 0 24px calc(50% - 720px / 2);
        width: 720px;
    }
}

@media (max-width: 767px) {
    .footer {
        display: block;
        width: fit-content;
        margin: 0 auto 24px calc(50% - 380px / 2);
    }
}

@media (max-width: 425px) {
    .footer {
        margin: 0 auto 24px calc(50% - 288px / 2);
    }
}