.photo-grid__image {
  height: auto;
  width: 284px;
}

@media (max-width: 1279px) {
  .photo-grid__image {
    width: 300px;
  }
}

@media (max-width: 1023px) {
  .photo-grid__image {
    width: 352px;
  }
}

@media (max-width: 767px) {
  .photo-grid__image {
    width: 360px;
  }
}

@media (max-width: 425px) {
  .photo-grid__image {
    width: 288px;
  }
}